In [1]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import requests

In [2]:
overwatch_api = 'https://api.overwatchleague.com/stats/players'
res = requests.get(overwatch_api)

In [5]:
watchdata = res.json()
with open('./overstat.json', 'w', encoding = 'utf-8') as make_file:
    json.dumps(watchdata, indent = '\t')

In [6]:
df = pd.DataFrame(watchdata['data'])
df.head()

   playerId  teamId  ... final_blows_avg_per_10m time_played_total
0      5197    7693  ...                3.765339      65332.762069
1      8675    7693  ...                4.134037      65166.328327
2      4142    7695  ...                4.815526      95441.290463
3      5863    7697  ...                3.651732      64900.715138
4      3985    4523  ...                6.050875      75658.485169

[5 rows x 12 columns]

크롤링이 생각보다 아주 단순하다

In [ ]:
#역할군별 10분당 처치비율
avg_eli_per_10 = df.groupby('role')['eliminations_avg_per_10m'].mean()
print(avg_eli_per_10)

role
offense    16.651697
support    12.737868
tank       16.503044
Name: eliminations_avg_per_10m, dtype: float64

In [ ]:
#리그 전체 수준의 목처 비율
df['eli_per_death'] = (df['eliminations_avg_per_10m'] / df['deaths_avg_per_10m'])
df['eli_per_death'].mean()

3.320161794038524

In [ ]:
#기술통계량으로 그 데이터계열의 구간을 알아볼 수 있음
df['eli_per_death'].describe()

count    126.000000
mean       3.320162
std        0.916125
min        0.891304
25%        2.677959
50%        3.184778
75%        3.858503
max        6.084862
Name: eli_per_death, dtype: float64

In [ ]:
# eli_per_death_edge 어느 정도해야 리그 평균인지 알 수 있게 구간 설정
eli_per_death_edges = [1.9,3.164157,3.783626, 6.1]

In [ ]:
eli_per_death_names = ['low-performer', 'avg-performer', 'super-performer']

In [ ]:
#위의 기술통계량을 바탕으로 상위, 하위 레빌 나눔, 그리고 pd.cut을 이용해서 구간별로 잘라서 새로운 열로 만들어 player 기준으로 붙여줌
df['eli_per_death_level'] = pd.cut(df['eli_per_death'], eli_per_death_edges, labels = eli_per_death_names)
df.head(3)

   playerId  teamId  ... eli_per_death eli_per_death_level
0      5197    7693  ...      2.137480       low-performer
1      8675    7693  ...      4.128266     super-performer
2      4142    7695  ...      2.882821       low-performer

[3 rows x 14 columns]

In [ ]:
#상위 20명의 목처 비율은 뭔가?
top_twens = df.nlargest(20, 'eli_per_death')
top_twens['eli_per_death'].mean()

4.836548404637718

In [ ]:
#딜러 군 상위 20명의 목처 비율은 뭔가?
dealer = df.loc[df['role'] == 'offense'].copy()
dealer.head()

     playerId  teamId  ... eli_per_death eli_per_death_level
86       8236    4403  ...      5.151246     super-performer
51       8750    4403  ...      4.516582     super-performer
49       8713    7693  ...      4.459418     super-performer
105      4099    4403  ...      4.312883     super-performer
96       4662    4409  ...      4.244898     super-performer

[5 rows x 14 columns]

In [ ]:
dealer_twen = dealer.nlargest(20, 'eli_per_death')
dealer_twen['eli_per_death'].mean()

4.071400483713899

탱커군이 더 높을 수도 있네

In [ ]:
df_super = df.loc[df['eli_per_death_level'] == 'super-performer'].copy()
df_super.head()

     playerId  teamId  ... eli_per_death eli_per_death_level
124      5809    4408  ...      6.084862     super-performer
62       8748    7697  ...      5.932007     super-performer
83       8242    4409  ...      5.842437     super-performer
24       5831    4404  ...      5.584235     super-performer
6        4841    4403  ...      5.159910     super-performer

[5 rows x 14 columns]

In [ ]:
df_super.groupby(['team'])['eli_per_death_level'].count()

team
ATL    1
CDH    1
FLA    1
GLA    1
GZC    2
HOU    2
HZS    4
NYE    6
PHI    2
SEO    4
SFS    3
SHD    3
TOR    1
WAS    2
Name: eli_per_death_level, dtype: int64

In [ ]:
#북미와 아시아 플레이오프 3라운드 팀만 골라냄, 마지막에 : 또 까먹음
df_usa = df.loc[df['team'].isin(['PHI','GLA', 'FLA', 'VAL', 'SFS', 'WAS', 'PAR', 'ATL']), :].copy()
df_asia = df.loc[df['team'].isin(['SHD', 'NYE', 'GZC', 'SEO']), :].copy()

In [ ]:
#출전 시간을 시간 단위로 바꾸기
df_usa['time_played_total'] = df_usa['time_played_total'].apply(lambda x: x / 3600)
df_asia['time_played_total'] = df_usa['time_played_total'].apply(lambda x: x / 3600)

In [ ]:
df_usa.head()

     playerId  teamId  ... eli_per_death eli_per_death_level
62       8748    7697  ...      5.932007     super-performer
24       5831    4404  ...      5.584235     super-performer
42       4659    4524  ...      4.830508     super-performer
40       9591    7698  ...      4.766284     super-performer
114      4637    4406  ...      4.510848     super-performer

[5 rows x 14 columns]

In [ ]:
df_usa_graph = df_usa.groupby(['team'])[['hero_damage_avg_per_10m']].sum()
df_asia_graph = df_usa.groupby(['team'])[['hero_damage_avg_per_10m']].sum()

In [ ]:
df_usa_graph.reset_index(inplace=True)

In [ ]:
df_asia_graph.reset_index(inplace=True)

In [ ]:
df_asia_graph

  team  hero_damage_avg_per_10m
0  ATL             36621.304587
1  FLA             39591.619961
2  GLA             43123.989634
3  PAR             26446.296302
4  PHI             53969.524367
5  SFS             52789.861557
6  VAL             28822.329989
7  WAS             38920.964962

위의 데이터를 엑셀 파일에 차트와 표로 만들고 저장하기

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/2b/98/17875723b6814fc4d0fc03f0997ee00de2dbd78cf195e2ec3f2c9c789d40/XlsxWriter-1.3.3-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 2.9MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.3.3

In [ ]:
#경로설정 및 엑셀파일 쓰기
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#경로설정 필요
writer = pd.ExcelWriter('/content/drive/My Drive/goorum/overwatch_refined.xlsx', engine='xlsxwriter')

In [ ]:
# 데이터프레임의 객체를 XlsxWriter Excel 객체로 변환 
df_usa_graph.to_excel(writer, sheet_name='Sheet1', index=False)

# xlsxwriter workbook and worksheet 객체 호출
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

In [ ]:
#엑셀의 셀조정
chart = workbook.add_chart({'type': 'column'})
chart.add_series({
    'values':     '=Sheet1!$B$2:$B$9',
    'categories': '=Sheet1!$A$2:$A$9',
    'gap':        100, # column 사이의 간격 
})

In [ ]:
#헤더포맷
header_format = workbook.add_format({
    'size' : 10,
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'align' : 'center',
    'fg_color': '#D7E4BC',
    'border': 1})

In [ ]:
for col_num, value in enumerate(df_usa_graph.columns.values):  #값을 루프문으로 삽입
    worksheet.write(0, col_num, value, header_format)

# Cell의 포맷팅 설정 
format1 = workbook.add_format({'num_format': '#,##0.00'})
format2 = workbook.add_format({'num_format':  '#,##0.00'})

# B:B 전체, Cell 크기 20, format 설정은 위의 format1
worksheet.set_column('A:A', 20, format1)

# C:C 전체, Cell 크기 기본값 , format 설정은 위의 format2
worksheet.set_column('B:B', 15, format2)

worksheet.write(0,2, "(unit:damage)")
writer.save()